main {
    width: 400px;
    text-align: justify;
}

.left, .right, .center {
    width: 120px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    padding: 10px;
    background: cornflowerblue;
    border-radius: 5px;
    text-shadow: 0px 0px 5px white;
}

.left {
    float: left;
    margin-right: 10px;
}

.right {
    float: right;
    margin-left: 10px;
}

.center {
    margin: 0 auto;
}