@media screen and (max-width: 959px){
    body #wrapper {
        width: 100%;
    }
}

@media screen and (max-width: 779px){
    body #wrapper > header nav ul li {
        flex-basis: 23%;
        margin: 0;
    }

    body #wrapper > header nav ul {
        justify-content: space-between;
    }

    body #wrapper > header h1 {
        font-size: 2.2em;
    }
}

@media screen and (max-width: 639px) {
    body #wrapper > header h1 {
        text-align: center;
    }

    body #wrapper > header h1 a span {
        margin: 0;
        display: block;
    }

    body #wrapper > header h1 a {
        display: block;
    }

    body #wrapper > header nav ul li {
        flex-basis: 95%;
        margin: 0 auto;
    }

    body #wrapper > section {
        width: 100%;
    }

    body #wrapper > aside {
        width: 100%;
    }

    body #wrapper > aside div {
        width: 50%;
    }
}

@media all and (max-width: 479px){
    body #wrapper > aside div {
        width: 100%;
    }
}