extends ../layout.pug

block content
  form.form.center-form(method='post', enctype='multipart/form-data')
    h2 Add Product
    .form-group
      label(for='name') Name
      input#name.input-field(name='name', type='text')
    .form-group
      label(for='description') Description
      textarea#description.input-field(name='description', type='text')
    .form-group
      label(for='price') Price
      input#price.input-field(name='price', type='number', step="0.01" min="0")
    .form-group
      label(for='image') Image
      input#image.input-field(name='image', type='file', accept='.jpg,.jpeg,.png')
    .form-group
      label(for='description') Group
      select.input-field(name='category')
        each category in categories
          option(value=`${category._id}`)=category.name
    .form-group
      input.form-btn.btn(type='submit', value='Add')
