USE [master]

IF DB_ID('Blog') IS NOT NULL
BEGIN
    ALTER DATABASE [Blog] SET SINGLE_USER WITH ROLLBACK IMMEDIATE;
	DROP DATABASE [Blog]
END
GO

GO
CREATE DATABASE [Blog]

GO
USE [Blog]
GO
/****** Object:  Table [dbo].[Comments]    Script Date: 7/12/2016 4:53:33 PM ******/
SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

CREATE TABLE [dbo].[Comments](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Text] [nvarchar](max) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[PostId] [int] NOT NULL,
	[AuthorId] [int] NULL,
	[AuthorName] [nvarchar](100) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Date] [datetime] NOT NULL,
 CONSTRAINT [PK_Comments] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Posts]    Script Date: 7/12/2016 4:53:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Posts](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[AuthorId] [int] NULL,
	[Title] [nvarchar](200) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[Body] [ntext] COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[Date] [datetime] NOT NULL,
 CONSTRAINT [PK_Posts] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PostsTags]    Script Date: 7/12/2016 4:53:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PostsTags](
	[PostId] [int] NOT NULL,
	[TagId] [int] NOT NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Tags]    Script Date: 7/12/2016 4:53:33 PM ******/

SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tags](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
 CONSTRAINT [PK_Tags] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
))

GO
/****** Object:  Table [dbo].[Users]    Script Date: 7/12/2016 4:53:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Users](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserName] [varchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[FullName] [nvarchar](100) COLLATE SQL_Latin1_General_CP1_CI_AS,
	[PasswordHash] [varbinary](64),
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[Posts] ON 

INSERT [dbo].[Posts] ([Id], [AuthorId], [Title], [Body], [Date]) VALUES (20, 6, N'Why Choosing the Right (Storage) Infrastructure Matters for DevOps', N'By Srikanth Venkataseshu. Deploying a DevOps model with the right IT infrastructure can help your ideas quickly become reality and put you ahead of the competition. Here''s how HPE 3PAR StoreServ can make that happen.
', CAST(N'2016-11-01T01:33:00.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[Posts] OFF
SET IDENTITY_INSERT [dbo].[Tags] ON 

INSERT [dbo].[Tags] ([Id], [Name]) VALUES (32, N'advice')
INSERT [dbo].[Tags] ([Id], [Name]) VALUES (37, N'agile')
INSERT [dbo].[Tags] ([Id], [Name]) VALUES (34, N'agility')
SET IDENTITY_INSERT [dbo].[Tags] OFF
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([Id], [UserName], [FullName], [PasswordHash]) VALUES (8, N'loo', N'Loo Chao-xing', HASHBYTES('SHA2_256', 'P@$$word@8'))
INSERT [dbo].[Users] ([Id], [UserName], [FullName], [PasswordHash]) VALUES (9, N'abdur', N'Abdur Raheem Hatem', HASHBYTES('SHA2_256', 'P@$$word@9'))
INSERT [dbo].[Users] ([Id], [UserName], [FullName], [PasswordHash]) VALUES (6, N'tengo', N'Teng Qingshan', HASHBYTES('SHA2_256', 'P@$$word@6'))
SET IDENTITY_INSERT [dbo].[Users] OFF
SET IDENTITY_INSERT [dbo].[Comments] ON 


INSERT [dbo].[Comments] ([Id], [Text], [PostId], [AuthorId], [AuthorName], [Date]) VALUES (8, N'I will be following your posts, for the future. They seem quite intriguing.
', 7, NULL, N'Isaac Netero', CAST(N'2016-07-11T14:24:03.000' AS DateTime))
INSERT [dbo].[Comments] ([Id], [Text], [PostId], [AuthorId], [AuthorName], [Date]) VALUES (9, N'Well, I am off to finding my dream wife.
', 8, NULL, N'Pesho Peshov', CAST(N'2016-06-14T15:03:27.000' AS DateTime))
INSERT [dbo].[Comments] ([Id], [Text], [PostId], [AuthorId], [AuthorName], [Date]) VALUES (10, N'This is a very relative topic. A lot of questions and arguments are orbiting arround it.
', 8, 5, NULL, CAST(N'2016-06-24T17:37:41.000' AS DateTime))

SET IDENTITY_INSERT [dbo].[Comments] OFF
INSERT [dbo].[PostsTags] ([PostId], [TagId]) VALUES (24, 1)
INSERT [dbo].[PostsTags] ([PostId], [TagId]) VALUES (24, 34)
INSERT [dbo].[PostsTags] ([PostId], [TagId]) VALUES (24, 32)

SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_Tags]    Script Date: 7/12/2016 4:53:33 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Tags] ON [dbo].[Tags]
(
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [UK_Users_Username]    Script Date: 7/12/2016 4:53:33 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [UK_Users_Username] ON [dbo].[Users]
(
	[UserName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Comments] ADD  CONSTRAINT [DF_Comments_Date]  DEFAULT (getdate()) FOR [Date]
GO
ALTER TABLE [dbo].[Posts] ADD  CONSTRAINT [DF_Posts_Date]  DEFAULT (getdate()) FOR [Date]
GO
ALTER TABLE [dbo].[Comments]  WITH CHECK ADD  CONSTRAINT [FK_Comments_Posts] FOREIGN KEY([PostId])
REFERENCES [dbo].[Posts] ([Id])
GO
ALTER TABLE [dbo].[Comments] CHECK CONSTRAINT [FK_Comments_Posts]
GO
ALTER TABLE [dbo].[Comments]  WITH CHECK ADD  CONSTRAINT [FK_Comments_Users] FOREIGN KEY([AuthorId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[Comments] CHECK CONSTRAINT [FK_Comments_Users]
GO
ALTER TABLE [dbo].[Posts]  WITH CHECK ADD  CONSTRAINT [FK_Posts_Users] FOREIGN KEY([AuthorId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[Posts] CHECK CONSTRAINT [FK_Posts_Users]
GO
ALTER TABLE [dbo].[PostsTags]  WITH CHECK ADD  CONSTRAINT [FK_PostsTags_Posts] FOREIGN KEY([PostId])
REFERENCES [dbo].[Posts] ([Id])
GO
ALTER TABLE [dbo].[PostsTags] CHECK CONSTRAINT [FK_PostsTags_Posts]
GO
ALTER TABLE [dbo].[PostsTags]  WITH CHECK ADD  CONSTRAINT [FK_PostsTags_Tags] FOREIGN KEY([TagId])
REFERENCES [dbo].[Tags] ([Id])
GO
ALTER TABLE [dbo].[PostsTags] CHECK CONSTRAINT [FK_PostsTags_Tags]
GO
USE [master]
GO
