body{
    margin: 0;
    padding: 0;
}

ul{
    text-align: center;
    background: #234465;
    color: white;
}

li {
    margin: 0 auto;
    list-style-type: none;
    font-size: 20px;
    padding: 10px 20px;
    cursor: default;
    transition: all 0.5s;
}

li:hover {
    padding-bottom: 30px;
    cursor: pointer;
}