<header id="register-title" class="blog-title">
    register
</header>

<div class="user-login-block">
    <form class="user-register">
        <h1 class="form-title">Username:</h1>
        <input type="text" value="" placeholder="Enter Username" id="username" />
        <h1 class="form-title">Full Name:</h1>
        <input type="text" value="" placeholder="Enter Full Name" id="full-name" />
        <h1 class="form-title">Password:</h1>
        <input type="password" value="" placeholder="Enter password" id="password" />
        <h1 class="form-title">Confirm Password:</h1>
        <input type="password" value="" placeholder="Re-Enter password" id="pass-confirm" />
        <br>

        <button type="button" id="register-request-button">Register</button>
    </form>
    <a href="#/login">Login here</a>
</div>

<footer>
    <p class="footer-text">&copy; Software University Foundation, No Rights Reserved</p>
</footer>