<aside class="sidebar">
    <div class="logo"><img src="images/logo_sidebar.png" alt=""></div>
    <hr>
    <nav>
        <ul>
            <li class="single-menu-element">
                <a href="#/" class="single-menu-element-link">
                    Home
                </a>
            </li>

            <li class="single-menu-element">
                <a href="#/login" class="single-menu-element-link">
                    Login
                </a>
            </li>

            <li class="single-menu-element">
                <a href="#/register" class="single-menu-element-link">
                    Register
                </a>
            </li>
        </ul>

        <hr>
        <h2 class="recent-posts-title">Recent Posts</h2>
        <hr>

        <ul class="recent-posts">
        </ul>
    </nav>
</aside>
<main class="main-content">
    <header class="blog-title">
        <h3>home</h3>
    </header>
    <ul class="articles" id="article">
    </ul>
    <footer>
        <p class="footer-text">&copy; Software University Foundation, No Rights Reserved</p>
    </footer>
</main>