.my-list {
    margin: 0 auto;
    padding: 8px 24px;
    width: 500px;
    font-size: 30px;
    border: 1px solid #f7f381;
    background: rgb(247, 243, 129);
    box-shadow: 0 0 10px 2px #333333;
}

.my-list ol {
    margin: 12px;
}

.my-list p {
    text-align: center;
}