.head-title
  text-align: center
  font-style: italic

form
  border: 1px solid grey
  padding: 15px
  border-radius: 15px
  text-align: center

label
  width: 60px
  display: inline-block

input, select
  width: 200px

.form-group
  margin-bottom: 10px

.owner-card
  display: inline-block
  width: 200px
  text-align: center

.owner-card img
  width: 150px
  height: 150px
  border-radius: 75px
  border: 5px solid grey

.car img
  width: 250px
  height: 150px

.car 
  width: 300px
  display: inline-block
  text-align: center

a 
 margin: 10px