
@font-face {
    font-family: Alex Brush;
    src: url('resources/AlexBrush-Regular.ttf');
    font-size: 400px;
}
body, header, main, footer, div, section, aside, article, p, h1, h2, h3, ul, li, a, img {
    padding: 0px;
    margin: 0px;
}
body{
    background-color: #d7c7a9;
}

/*-------------------------------------------------*/
#wrapper {
    font-family: Calibri, Arial, sans-serif;
    font-size: 12px;
    width: 1200px;
    background-color: #5a5b3c;
    padding-top: 0px;
    padding-bottom: 30px;
    margin: 0 auto;
}
/*-------------------------------------------------*/

header {
    width: 1000px;
    margin: 0 auto;
    background-image: url("resources/Picture_1.jpg");
    background-repeat: no-repeat ;
    background-size: 100%;
    border-bottom: 10px solid #b7cc89;
}
header > h1 {
    font-size: 68px;
    font-family: "Alex Brush";
    margin: 0 auto;
    color: #f26013;
    text-align: center;
    font-weight: lighter;
    line-height: 68px;
    padding-top: 20px;
}
header > p {
    font-size: 26px;
    margin: 20px auto;
    color: white;
    text-align: center;
}
header > nav {
    background-color: #ffffff;
    height: 42px;
}
header nav > ul {
    margin-top: 45px;
}
header nav > ul li{
    width: 200px;
    display: inline-block;
    text-align: center;
    font-size: 18px;
    background-color: white;
    padding: 10px 0px;
    float: left;
}
header nav > ul li a{
    text-decoration: none;
    color: #5a5b3c;
}
header nav > ul li:hover{
    background-color: #f77a26;
}

/*-------------------------------------------------*/

main {
    width: 1000px;
    margin: 0 auto;
    background-color: #eae7ee;
    margin-top: 30px;
    overflow: auto;
}
/*---------------------------*/

main aside{
    float: left;
    margin-left: 30px;
    width: 270px;
    margin-bottom: 23px;
    margin-top: 40px;
}

main > aside > article{
    margin-bottom: 20px;
    margin-right: 20px;
    background-color: white;
    padding: 20px;
}
main > aside > article > h1{
    font-size: 25px;
    color: #5a5b3c;
}
main > aside > article > h2{
    font-size: 15px;
}
main > aside > article > p:nth-child(3), #wrapper > main > section > article > p:nth-child(4){
    margin-top: 20px;
}
main > aside > article > p:nth-child(5){
    font-weight: bold;
    font-style: italic;
}

/*---------------------------*/

main section{
    margin-top: 40px;
    float: left;
    margin-left: 30px;
    width: 660px;
}
main section > div{
    background-color: white;
    margin-bottom: 25px;
    height: 170px;
}


main section > div > div{
    display: inline-block;
    /*width: 230px;*/
    /*height: 170px;*/
    margin-right: 20px;
    float: left;
}
main > section > div:nth-child(1) > div{
    /*background-image: url("resources/Picture_2.jpg");*/
    /*background-size: 230px 170px;*/
}
main > section > div:nth-child(2) > div{
    /*background-image: url("resources/Picture_3.jpg");*/
    /*background-size: 230px 170px;*/
}
main > section > div:nth-child(3) > div{
    /*background-image: url("resources/Picture_4.jpg");*/
    /*background-size: 230px 170px;*/
}


main > section > div > article {
    padding: 10px;
}
main > section > div > article > h3 {
    font-weight: bold;
    color: #f26013;
    margin: 10px;
}
main > section > div > article > p {
    margin: 10px;
}

/*-------------------------------------------------*/
footer{
    clear: both;
}
footer p{
    color: white;
    margin-top: 30px;
    margin-left: 100px;
}