@import url('https://fonts.googleapis.com/css?family=Lobster');

html {
    font-size: 16px;
}

main {
    width: 800px;
    padding: 20px;
    margin: 0 auto;
}

img {
    width: 200px;
    float: left;
    margin-right: 20px;
}

h1, h2, h3, a {
    font-weight: normal;
    color: #0088dd;
    margin: 0;
    text-align: center;
    font-size: 2.1rem;
    text-decoration: none;
}

h1 {
    font-family: Georgia, "Times New Roman", serif;
    font-size: 3.5rem;
    text-shadow: 2px 4px 4px #666666;
    padding-bottom: 10px;
    text-transform: capitalize;
}

h2 {
    font-family: Arial, sans-serif;
    font-size: 2.3rem;
    text-transform: capitalize;
    letter-spacing: 0.3rem;
}

h2 span {
    text-transform: none;
}

article {
    margin-top: 20px;
    text-align: justify;
}

article p {
    font-family: Arial, Verdana, sans-serif;
    font-size: 1.4rem;
    line-height: 30px;
    color: #665544;
}

p.credits {
    font-style: italic;
    text-align: right;
}

article p:first-of-type:first-letter {
    font-size: 3.8rem;
    font-family: 'Lobster', cursive;
    font-weight: bold;
    text-transform: uppercase;
}