<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>ShopStop</title>
  <link rel="icon" href="/content/images/favicon.ico" type="image/x-icon" />
  <link rel="stylesheet" type="text/css" href="/content/styles/site.min.css">
</head>
<body>
  <header>
    <nav class="nav">
      <ul>
        <li><a href="/">Home Page</a></li>
        <li><a href="/product/add">Add Product</a></li>
        <li><a href="/category/add">Add Category</a></li>
      </ul>
    </nav>
  </header>
  <main>
    <h1 class="head-title">Welcome to ShopStop!</h1>
    <form id="search-form">
        <input type="text" name="query" placeholder="Search..." >
        <input type="submit" value="Search">
    </form>
    <div class="cards">
        {content}
    </div>
  </main>
  <footer>
    <p>&copy; ShopStop</p>
  </footer>
</body>
</html>
