<h1>New tweet</h1>

<form method="post">
  <label for="description">Description:</label>
  <textarea required maxlength="500" name="description" rows="10"></textarea>
  <label for="url">URL:</label>
  <input type="url" name="url" required />
  <input type="submit" value="Add image">
</form>