@font-face {
    font-family: 'paw-dings';
    src: url('fonts/paw-dings.eot');
}

@font-face {
    font-family: 'paw-dings';
    src: url(data:application/font-woff;charset=utf-8;base64,d09GRk9UVE8AAAcgAAsAAAAACkgAAQAAAAAAAAAAAAAAAAAAAAAAAAAAAABDRkYgAAABCAAAA+UAAAVg6tWUjkZGVE0AAATwAAAAGgAAABxmXOfUR0RFRgAABQwAAAAcAAAAIAAyAARPUy8yAAAFKAAAAE0AAABgUELeIGNtYXAAAAV4AAAAUgAAAWIA8vZpaGVhZAAABcwAAAAuAAAANv3yuV9oaGVhAAAF/AAAAB4AAAAkBBD/5GhtdHgAAAYcAAAAEAAAABAEAABgbWF4cAAABiwAAAAGAAAABgAFUABuYW1lAAAGNAAAAN0AAAGY2E/4k3Bvc3QAAAcUAAAADAAAACAAAwAAeJxtU21sk1UUPu3eri+16WhtUWfZwI8JyGZhwHDGskRTw2fIGFsyFgkLmWGTZYwizYYTREV4JfGjI2HqgnNiBGOIEUIwCFmYgTlg6kTQ+ENFDVuADSJ9k7fu8bntPvzhnyfPPR/POefec22iaWKz2VwN67bmr99Q/9xmsdnFJmEzaDenZpj3aoY7w3BrOS65b5UPhjFO3M49dWbcjDqCsi0rKDI5KK96g+IJOkp9kqE0dPFK9pb6DZFQKDQuP1FHxLZLVshqiYhDhdvFLT9m+LRTHsOMasm4GXd6TM2MBiDZNTWQwP42YIAMf+xvy03Oc6bIqGnMnmNFM/9jTyWp9FyT8RM64/acLzcHmhP+d51Lk1Us5P10CcSz6tgopI4KMDzmwI1xGB5zTNjSIcOjabkJ/2Ag0W/FrX6OEoetpaclQPegnd3dbGfKnDzg+nYBBmOX6Qh1QKSQClZLjCz7WbLYSoPYWEDcEuoE9lX0AWuHpgPhcxaNZz7zE8+evcOS6yuBb3e2QqZe4DB60UUAmdfIqurItneTNR0wIHOKXMT8pXbI5J7TkAdvF0KCs8/rwHf6UVa+XApcmR+G5Kx9Ebj1QS9k5olfIZm1TwIjXz9MFm+mZIWL7MwvFJsUb1b4zBDEtnghC/VNg9jVq1y8dYSOg9eAn3tegsyKFjNw7lWVJJtqFTZ0EuxvKsYkz8wiwJzew97m1nP0CN/Mu9DLatFiNvh7XzXEdynCi4uehEzLG6DEQ5sOEe8uKYE4Csrpv+tp1nRxtKyd+yCFF34CTjc2QJbXfAxcKqCtYtl5ircv4Dzzd0CcR6pZwZfPzrVKaulPHCQWq64e06ME5/Pq2EdjzoII8f7lHuB2+DjLzrjDB2zt0iH3XF8B0Y52QaY0/UaRk59D/Mu4De5JSQ41IwT8FePd3lSPOFgb5h6srG7hOi7axtvanWR0+AXO8FGHmvF1KlQe0D2JeOoX7K1mM43vNwCKIcUmjv9jSwWn0yaOY7Zcy2/5uY1WfblasLce4fjae2Q3aBzJG+A0e328/zV88hSTztYdDuWfwie+0qZy8vhk1gNpDd36wooGKPXPbM4r63aTPc5PJsd/ICsboV5Vr6HgDaDjUa7extg71MPfiwjlGsFkJFa/TA2UNekJpcdb+f4Ys+zdV9OiYj/8mhIt5Sp0DrOBNVlV3NpzJ4BvSroV4yXOO/UVvUN/psChcp6iZoQ/wc7dBdq3pnVZ43AgUeZUS0hZdtBPdqhFdcVVkk+SrNIxqwt4e9dG1Xov8GFh1KEa6Feyr6im9qTaM1KSOv+53wjUGWbcyDTcrn8BQWPQ3AAAAHicY2BgYGQAgpOd+YYg+lzmnkAYDQBDuwZ8AAB4nGNgZGBg4ANiCQYQYGJgBEIWMAbxGAAEdgA3eJxjYGZiYJzAwMrAwejDmMbAwOAOpb8ySDK0MDAwMbAyM8AAowADAgSkuaYwODCkfmBgfPD/AYMe4wMGhQagGrDCB0BCAQgZAQiaDIYAAAB4nGNgYGBmgGAZBkYGEIgB8hjBfBYGByDNw8DBwARkMzCkMuQylHxg+P8frA6J93/+/6n/+wUYoSbAASMbA7oQbQALlGaCUMz0sJNIAABhiA5JAAB4nGNgZGBgAOLwpDKNeH6brwzcTAwgcC5zTyCC/v+AiYHxAZDLwQCWBgAWWApaAAB4nGNgZGBgfPD/AYMeEwMDwz8GIAkUQQHMAG3nA/YAAAIAAAAAAAAAAgAAYAAAAAAAAFAAAAUAAHichY5BasJAFIa/aCLYupLSpczGjZCQTEHQA7joAdwLhpBNIlFw03P0AB7CtcfwAB6iS/+kj1Io1IHHfHzzz3sPGPFJQHsChrwY94iYGfeZ8mEcKnM2jnjmajyQ/1IyCIcy4+5Xyz2emBj3eSc1DpU5GUe8cjEeyN/YseFIzJaSioI97DbHeFtWhfCXNbOiljl0d6OXHIcn0TTHUvW337f3zGUXKq9sxpta1dVhVTdF7nySuqX7mSv283gR+zRT7P8N19qgkSu7vZw6t7uwzpt9WVcuS9IHHe44IT1/AAAAeJxjYGbACwAAfQAE) format('woff'), url(data:application/x-font-ttf;charset=utf-8;base64,AAEAAAANAIAAAwBQRkZUTWZc59QAAAbIAAAAHEdERUYANAAGAAAGqAAAACBPUy8yUCDcHwAAAVgAAABWY21hcAD2+XYAAAHIAAABYmdhc3D//wADAAAGoAAAAAhnbHlm6pGkvQAAAzwAAAGUaGVhZP3xuV8AAADcAAAANmhoZWEED//mAAABFAAAACRobXR4BKoAYAAAAbAAAAAYbG9jYQCYAQwAAAMsAAAAEG1heHAATgA0AAABOAAAACBuYW1l2E/4kwAABNAAAAGYcG9zdE8InzMAAAZoAAAAOAABAAAAAQAADmICml8PPPUACwIAAAAAAM5pvFEAAAAAzmm8Uf///+ACAAHgAAAACAACAAAAAAAAAAEAAAHg/+AALgIA///+AAIAAAEAAAAAAAAAAAAAAAAAAAAFAAEAAAAHADEABQAAAAAAAgAAAAEAAQAAAEAAAAAAAAAAAQIAAZAABQAIAUwBZgAAAEcBTAFmAAAA9QAZAIQAAAIABQMAAAAAAAAAAAABEAAAAAAAAAAAAAAAUGZFZABAAGXwAAHg/+AALgHgACCAAAABAAAAAAAAAgAAAAAAAAAAqgAAAAAAAAIAAGAAAAAAAAAAAwAAAAMAAAAcAAEAAAAAAFwAAwABAAAAHAAEAEAAAAAMAAgAAgAEAAAAZQBtAHTwAP//AAAAAABlAG0AdPAA//8AAP+h/5f/kRADAAEAAAAAAAAAAAAAAAAAAAEGAAABAAAAAAAAAAECAAAAAgAAAAAAAAAAAAAAAAAAAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAYAAAAAAAAABAAAAAAAAAUAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAOAEIAigDKAAEAAP/gAgAB4AACAAARASECAP4AAeD+AAAAAAAEAGD/4AGgAeAADwATABsAHwAAASMiBhURFBY7ATI2NRE0JgczFSMSIiY0NjIWFDchESEBcOAUHBwU4BQcHMSAgE0aExMaE2D/AAEAAeAcFP5gFBwcFAGgFBwYEP5IExoTExpNAUAAAAH//wAPAgABsQAwAAABBgc2NwYHJiMiBhUUFy4BJwYVFBciJxQVFBYXBiMiJx4BMwYjIicWMzI+AjU0NTYCAB0fIgwfJB8uKz4DQHEnDy8ZFi8lDg4KCgs1IzpJDQxKV0Z0SSgfAX8NBBUlEgchPSwMDAM6MRkcOB8NAQElOggDAiApLQEvNldpNQcGFwAAAAUAAP/gAgAB4AAHAA4AFQAeACUAAAAiBhQWMjY0JSEyFwcnNgc1NDUXByYFISInNxc3FwY3FAcnNxQVAWrUlpbUlv6AAQAHBo2NBhleXQEBIP8ABARbLS1bBBwBXV4B4JbUlpbUFgOkpAPgwAEBbV0EHAFbNTVbASAEBF1tAQEAAAAMAJYAAQAAAAAAAQAJABQAAQAAAAAAAgAFACoAAQAAAAAAAwAlAHwAAQAAAAAABAAJALYAAQAAAAAABQALANgAAQAAAAAABgAJAPgAAwABBAkAAQASAAAAAwABBAkAAgAKAB4AAwABBAkAAwBKADAAAwABBAkABAASAKIAAwABBAkABQAWAMAAAwABBAkABgASAOQAcABhAHcALQBkAGkAbgBnAHMAAHBhdy1kaW5ncwAAZABpAG4AZwBzAABkaW5ncwAARgBvAG4AdABGAG8AcgBnAGUAIAAyAC4AMAAgADoAIABwAGEAdwAtAGQAaQBuAGcAcwAgADoAIAAyADYALQA5AC0AMgAwADEAMwAARm9udEZvcmdlIDIuMCA6IHBhdy1kaW5ncyA6IDI2LTktMjAxMwAAcABhAHcALQBkAGkAbgBnAHMAAHBhdy1kaW5ncwAAVgBlAHIAcwBpAG8AbgAgADEALgAwAABWZXJzaW9uIDEuMAAAcABhAHcALQBkAGkAbgBnAHMAAHBhdy1kaW5ncwAAAgAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAHAAAAAQACAQIAUABXAEgHdW5pRjAwMAAAAAH//wACAAEAAAAOAAAAGAAAAAAAAgABAAMABgABAAQAAAACAAAAAAABAAAAAMmJbzEAAAAAzmm8UQAAAADOabxR) format('truetype');
    font-weight: normal;
    font-style: normal;
}

[data-icon]:before {
    font-family: 'paw-dings';
    content: attr(data-icon);
    speak: none;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #e46b6d;
    margin-right: 4px;
}

html, body, p, div, ul, li, h1, h2, h3, h4 {
    margin: 0;
    padding: 0;
}

body {
    background-color: #000;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    font-size: 16px;
    text-align: center;
    color: #333;
	min-width: 800px;
}

h1, h2, h3 {
    font-weight: 400;
    padding: 0.4em 0 0.4em;
}

h1 {
    font-size: 2.2em;
}

h2 {
    font-size: 1.5em;
}

h3 {
    font-size: 1em;
}

p, ul {
    margin: 0 0 1em;
    line-height: 140%;
}

ul {
    padding: 0 1em;
}

.header h1 {
    font-size: 3em;
    font-family: 'Lobster Two', cursive, 'Helvetica Neue','Helvetica','Arial', sans-serif;
    line-height: 0.8;
    display: block;
    text-align: center;
    margin: 0;
    padding: 0;
    color: #fff;
    text-shadow: #000 1px 1px 6px;
}

.header a:link, .header a:visited {
    color: #fff;
    text-decoration: none;
}

.header .title a {
    padding: 0.1em 0.2em 0.2em;
    border-radius: 0.2em;
}

    .header .title a:hover,
    .header .title a:focus {
        background-color: rgba(0,0,0,0.3);
    }

.header p {
    line-height: 1.1em;
    font-size: 1em;
    color: #fff;
    text-shadow: #000 1px 1px 6px;
    width: 60%;
    margin: 0.6em auto 2em;
    text-align: center;
}

.content a:link,
.content a:visited {
    color: #e46b6d;
    text-decoration: none;
    padding-bottom: 0.05em;
    border-bottom: solid 1px #e46b6d;
}

.content a:hover,
.content a:focus {
    color: #6a94ae;
    border-bottom: solid 1px #baccd8;
}

.container {
    text-align: left;
    margin: 0 auto;
}

.content {
    background-color: #f9f9f9;
    padding: 1em 1em 2em;
    border-top: solid 4px #eee;
}


.header {
    background-color: #598222;
    padding-top: 3em;
}

body.home .header {
    background: url(cover.jpg) center repeat;
    background-size: 150%;
}

.footer {
    padding: 1em;
    color: #666;
}

.leader {
    background-color: #333;
    font-size: 0.8em;
    color: #e46b6d;
}

    .leader ul {
        list-style: none;
        text-align: center;
        margin: 0;
        padding: 1em 0;
    }

    .leader li {
        display: block;
        margin: 0;
        line-height: 2em;
    }

    .leader a:link,
    .leader a:visited {
        color: #fff;
        text-decoration: none;
    }

    .leader a:hover,
    .leader a:focus {
        color: #e46b6d;
        text-decoration: none;
    }

.nav {
    display: block;
    list-style: none;
    text-align: center;
    padding: 0;
    margin: 0;
    font-size: 0.9em;
}

    .nav li {
        display: inline-block;
        margin: 0 0.25em;
        margin: 0 0.1em;
    }

    .nav a:link, .nav a:visited {
        line-height: 2.5em;
        color: #fff;
        text-decoration: none;
        font-style: bold;
        background-color: #222;
        background-color: rgba(0,0,0,0.4);
        padding: 0.4em 0.6em;
        border-radius: 5px;
        text-shadow: #000 0 -1px 2px;
    }

    .nav a:hover, .nav a:focus {
        color: #fff;
        background: #000;
    }

.nav-major {
    margin: 1em 0 0;
}

.nav-minor {
    padding: 0 0 1em;
}

body.home li.home a {
    background: #e46b6d;
    color: #fff;
}

form {
    padding: 1em 0;
}

    form p {
        margin: 0;
        padding: 0;
    }

input, textarea {
    margin-bottom: 1em;
    width: 100%;
    font-size: 1.2em;
    padding: 0.2em;
}

textarea {
    height: 80px;
}

#submit {
    margin: 0 auto 1em;
    font-size: 1.2em;
    padding: 1em;
    color: #fff;
    background-color: #333;
    border-radius: 5px;
    border-style: none;
    width: 50%;
}

    #submit:hover,
    #submit:focus {
        color: #fff;
        background-color: #e46b6d;
    }	

.leader li {
	display: inline-block;
	padding: 0 0.4em;
	line-height: 2.8em;
	border-bottom-style: none;
	margin: 0;
}

.nav a:link, .nav a:visited {
	font-size: 1.2em;
}

.container {
	width: 650px;
	margin: 0 auto;
}

h1 {
	font-size: 2.6em;
}

body.home .header {
	background-position: 0 35%;
}

.header h1 {
	font-size: 5em;
}

.header p {
	font-size: 1.4em;
	line-height: 1.2em;
}

.nav {
	display: inline-block;
}



ul.posts {
    list-style: none;
    margin: 2em 0 1em;
    padding-left: 0;
}

    ul.posts time {
        color: #999;
        margin: 0em;
        font-size: 0.8em;
        display: block;
    }

    ul.posts li {
        margin-bottom: 2em;
    }

.embed-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;
    max-width: 100%;
    height: auto;
    margin: 1.5em 0;
}

    .embed-container iframe, .embed-container object, .embed-container embed {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

@media all and (max-width: 499px){
    body {
        font-size: 28px;
    }

    .leader li {
        display: block;
    }

    .leader {
        font-size: 1em;
    }

    body.home .header {
        background-position-x: -200px;
    }

    .header h1 {
        font-size: 4em;
    }

    .header p {
        width: 75%;
    }

    .nav {
        width: 65%;
    }

    .container {
        width: 95%;
    }

    .content h1 {
        font-size: 2.9em;
    }

    .content p {
        font-size: 1.3em;
    }

    .content h2 {
        font-size: 2em;
    }

    .footer p {
        font-size: 1.4em;
    }

    .footer .nav a:link,
    .footer .nav a:visited {
        font-size: 1.4em;
    }

    .footer .nav {
        width: 70%;
    }

    .nav a:link, .nav a:link:visited {
        border-radius: 12px;
    }
}
