form {
    width:50%;
    margin: 0 auto;
    }

/* Makes responsive fields. Sets size and field alignment.*/
input, select{
    display: block;
    margin-bottom: 20px;
    margin-top: 10px;
    width:80%;
    padding: 15px;
    border-radius:5px;
    border:1px solid #FE9E00;
    }

input[type=number], input[type="date"], textarea{
    display: block;
    margin-bottom: 20px;
    margin-top: 10px;
    width:75%;
    padding: 15px;
    border-radius:5px;
    border:1px solid #FE9E00;
}

textarea {
    resize: none;
}

input[type=submit] {
    margin-bottom: 20px;
    width:80%;
    padding: 15px;
    border-radius:5px;
    border:1px solid #FE9E00;
    background-color: #FEAE00;
    color: aliceblue;
    font-size:15px;
    cursor:pointer;
    }

input[type=submit]:hover {
    background-color: #FE7300;
    }