.wrapper {
    background: url("../images/beckgroundLogin.png") no-repeat center center fixed;
    background-size: cover;
}
.user-login-blog {
    border-radius: 15px;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;
    width: 35%;
    height: 50%;
    text-align: center;
    margin:10% auto;
}
form {
    margin: auto;
    text-align: center;
    display: block;
}
.title-form{
    font:22px Oswald;
    font-weight: 400;
    color: rgba(255, 180, 0, 1);
    padding: 0 5px  5px;
    text-align: center;
    margin-bottom: 15px;
}
input {
    border-radius: 30px;
    border: 3px solid #f2f2f2;
    width: 60%;
    height: 35px;
    margin: 0 auto 10px;
    text-align: center;
}
input:focus {
    font: 16px Lato;
    font-weight: 100;
    outline: none;
    border: 3px solid rgba(255, 180, 0, 1);
}
button {
    font: 16px Lato;
    border-radius: 30px;
    border: none;
    background-color: rgba(255, 180, 0, 1);
    width: 50%;
    height: 25px;
    color: white;
    margin-top: 15px;
    margin-bottom: 15px;
}
button:hover {
    background-color: #565656;
}
.form-link {
    font: 18px Lato;
    color: rgba(255, 180, 0, 1);
    text-decoration: none;
    font-weight: 400;
    padding: 10px;
    -moz-transition-property: font-weight;
    -moz-transition-duration:  0.2s;
    -moz-transition-timing-function: linear;
    -moz-transition-delay: 0.1s;
    -webkit-transition-property: font-weight;
    -webkit-transition-duration:  0.2s;
    -webkit-transition-timing-function: linear;
    -webkit-transition-delay: 0.1s;
}
.form-link:hover {
    font-weight: 900;
    transition: background 0.2s ease, padding 0.5s linear;
}
footer {
    width: 100%;
    position: absolute;
    text-align: center;
    bottom: 0;
}
