/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
@import url(https://fonts.googleapis.com/css?family=Lato:400,300,700,900);
@import url(https://fonts.googleapis.com/css?family=Oswald);

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}










a {
    text-decoration: none;
    color: #565656;
}
.articles{
    margin-left: 5%;
}
.single-post {
    margin-bottom: 5%;
	background: #f2f2f2;
	border-radius: 5px;
	margin: 10px;
}
.post-ul{
	background: rgba(0, 0, 0, 0.5);
	width: 85%;
	margin: 0 auto;
	padding: 20px;
	border-radius: 20px;
}
.dot {
    margin-top: 13px;
    margin-right: 10px;
    float: left;
    width: 15px;
    border-radius: 40px;
    background-color: rgba(246, 173, 0, 1);
}
.title {
    font: 25px Oswald;
    font-weight: 600;

}
.subtitle {
    padding-top: 2.5%;
    font-weight: 100;
    margin-left: 3%;
}
.post-content {
    padding-top: 2.5%;
    font: 16px Lato;
    font-weight: 500;
    width: 80%;
    margin-left: 3%;
    word-break: normal;
}
footer {
    width: 100%;
    position: relative;
    text-align: center;
    bottom: 0;
}


.post-content strong {
    font-weight: 800;
}

.post-content em {
    font-style: italic;
}

.post-content ol li {
    list-style-type: decimal;
}

.post-content ul li {
    list-style-type: disc;
}

.post-comment {
    font-style: italic;
    font-weight: 100;
    padding-left: 50px;
    padding-bottom: 10px;
}

