.App {
}

#infoBox, #errorBox, #loadingBox {
    width: 80%;
    margin: 10px auto;
    color: white;
    text-align: center;
    padding: 5px;
    border-radius: 3px;
    display: none;
    cursor: pointer;
}

#loadingBox {
    background: #7CB3E9;
}
#infoBox {
    background: #393;
}
#errorBox {
    background: #F50;
}

#main {
    margin: 0 10px 20px 10px;
}

table th {
    background: #DDD;
    padding: 10px;
}

table td {
    padding: 5px 10px;
    background: #EEE;
}
