#gradient-box {
    width: 300px;
    border: 2px solid lightgrey;
}
#gradient-box:hover {
    border: 2px solid black;
}
#gradient {
    height: 30px;
    color: white;
    text-shadow: 1px 1px 10px black;
    text-align: center;
    line-height: 30px;
    background: linear-gradient(to right, black, white);
    cursor: crosshair;
}
