#wrapper {
    width: 700px;
    height: 730px;
    border: 1px solid #000000;
    margin: 0 auto;
    padding: 10px;
    background-color: #a6e1ec;
}

img{
    width: 200px;
    margin-right: 10px;
    vertical-align: middle;
}

.text {
    color: #2ea620;
}

li {
    width: 520px;
    padding: 10px;
    margin-bottom: 5px;
    font-size: 14px;
    border: 1px solid #000000;
    list-style-type: none;
}