@{
    ViewBag.Title = "Files";
}

<form>
    Path: <input type="text" name="path" />
    <input type="submit" />
</form>

<h2>Listing files in @ViewBag.Path</h2>

@model List<string>
    @foreach(var file in Model)
    {
        <div>
            @file
        </div>
    }