@import url('http://fonts.googleapis.com/css?family=Dosis:300,600');

body {
    font-family: 'Dosis', sans-serif;
    font-weight: 300;
}

.box:before, .menu, .caption {
    position: absolute;
}

.box {
    position: relative;
    box-sizing: border-box;
    width: 500px;
    height: 330px;
    margin: 50px auto;
    padding-left: 0;
    overflow: hidden;
    background: skyblue;
    box-shadow: 7px 7px 0 rgba(0, 0, 0, 0.2);
}

.box:before {
    content: 'top running collections';
    color: #000;
    top: 13px;
    right: 13px;
    padding: 10px;
    background: white;
    letter-spacing: 2px;
    font-size: 1rem;
    font-weight: 600;
    text-transform: uppercase;
}

.menu {
    height: 100%;
    width: 650px;
    top: 0;
    left: -155px;
    margin: 0;
    padding-left: 20px;
    background: transparent;
}

.caption {
    background: skyblue;
    height: 100%;
    padding: 15px 20px 0 0;
}

h4 {
    font-size: 2rem;
    font-weight: 300;
    line-height: 2.4rem;
    padding: 0;
    margin: 0;
    text-transform: uppercase;
}

h5 {
    padding: 0;
    margin: 0;
    font-size: 1.2rem;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1px;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

ul li {
    margin: 0;
    padding-left: 13px;
    font-size: 1.2rem;
    line-height: 1.6rem;
}

ul li a {
    margin-top: 0;
    color: #000;
    text-decoration: none;
    padding-left: 0;
}


/** Transition effects **/

.box {
    transition: all 0.7s;
}

.box:hover {
    padding-left: 100px;
}

.box::before {
    transition: all 0.45s;
}

.box:hover::before {
    right: -300px;
}

.menu {
    transition: all 0.45s;
}

.menu:hover {
    left: 0;
}

ul li a {
    transition: all 0.3s;
}

ul li a:hover {
    padding-left: 5px;
    font-weight: bold;
}
