@import url('https://fonts.google.com/selection?selection.family=Lato');

body {
    font: 14px 'Lato', sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background: radial-gradient(ellipse at center,
        rgba(192,169,145,1) 0%,
        rgba(192,169,145,1) 59%,
        rgba(168,143,121,1) 100%);
}

nav {
    float: left;
    width: 94%;
    padding: 3%;
    color: #ffffff;
}

nav ul {
    float: right;
}

nav p {
    display: inline-block;
    color: #ffffff;
    font-size: 2em;
    font-weight: bold;
    margin: 0;
}

nav li {
    display: inline-block;
    margin: 0 10px;
}

nav a {
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    padding: 10px;
    border-radius: 25px;
    border: 1px solid transparent;
}

nav li:last-of-type a {
    border: 1px solid #ffffff;
}

nav li a:hover{
    background-color: rgba(134, 114, 96, 0.7);
    border: 1px solid rgba(134, 114, 96, 0.7);
}

header h1 {
    text-align: center;
    margin-top: 0;
    color: #ffffff;
    text-transform: capitalize;
    font-size: 3.5em;
    font-weight: normal;
    padding-top: 200px;
}

.header-subtitle {
    text-align: center;
    color: #ffffff;
    font-weight: normal;
}

.header-potato {
    display: block;
    margin: 45px auto 0;
    width: 30%;
}

.features {
    text-align: center;
    color: #373535;
    background-image: url("img/potato-background.png");
    background-size: cover;
    padding-bottom: 100px;
}

.features-title {
    margin-top: 0;
    padding-top: 200px;
    font-weight: 300;
    font-size: 3em;
}

.features-subtitle {
    font-size: 1.5em;
    width: 50%;
    margin: 0 auto;
    font-weight: normal;
}

.buy-now {
    background-color: #fafafa;
    text-align: center;
    padding-bottom: 30px;
}

.potato-img {
    width: 75%;
    vertical-align: bottom;
}

.potato {
    display: inline-block;
    width: 20%;
    height: 500px;
    vertical-align: top;
    border-right: 1px solid #CECECE;
}

.order-title {
    margin: 0 0 50px;
    font-weight: 300;
    font-size: 3.5em;
}

.potato-title {
    margin: 0 0 20px;
    font-weight: 300;
    font-size: 2.5em;
    text-transform: capitalize;
}

.potato-features {
    padding: 0;
    list-style: none;
}

.potato-description {
    color: #B7B6B5;
    padding: 12px 0;
}

.btn-order {
    background-color: transparent;
    color: #9ACD32;
    text-transform: uppercase;
    font-size: 1.2em;
    padding: 5px 15px;
    margin-top: 15px;
    border: 1px solid #9ACD32;
    border-radius: 15px;
}

.btn-order:hover {
    background-color: #9ACD32;
    cursor: pointer;
    color: #ffffff;
}

.potato-price {
    color: #7B7A77;
    font-size: 0.85em;
    margin-bottom: 35px;
}

footer {
    background-color: #867260;
}

.footer-text {
    color: #ffffff;
    text-align: center;
    margin: 0;
    padding: 20px 0 10px;
}