@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,900 ');

body {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

h1 {
    font-size: 54px;
    font-weight: 300;
    text-transform: uppercase;
}

header {
    background-color: white;
}

nav {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 40px;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav li {
    display: inline-block;
    margin: 0 80px;
}

nav li a {
    text-decoration: none;
    color: #9D9D9D;
    text-transform: uppercase;
    font-weight: bold;
}

nav li a:hover {
    color: #555555;
    border-bottom: 2px solid #9D9D9D;
}

header .left {
    width: 32%;
    padding-left: 8%;
    padding-top: 160px;
    display: inline-block;
}

header .right {
    background-image: url("img/beats-landing-main.jpg");
    display: inline-block;
    width: calc(60% - 5px);
    vertical-align: top;
    height: 800px;
    background-size: contain;
    margin-bottom: 50px;
    background-position: center;
    background-repeat: no-repeat;
}

header .left p {
    line-height: 2em;
    margin-bottom: 40px;
}

button {
    text-transform: uppercase;
    font-family: 'Open Sans', sans-serif;
    font-size: 1em;
    color: white;
    background-color: red;
    border: none;
    padding: 15px 45px;
    border-radius: 25px;
    margin-bottom: 50px;
}

button:hover {
    background-color: #DC0202;
    cursor: pointer;
}

#power {
    background-color: #FBFCFF;
    padding-top: 50px;
    padding-left: 50px;
}

#power .right {
    width: 46%;
    padding-right: 4%;
    display: inline-block;
}

#power .left {
    width: calc(50% - 105px);
    display: inline-block;
    height: 650px;
    background-image: url("img/powerbeats.png");
    background-repeat: no-repeat;
    vertical-align: top;
    margin-right: 100px;
}

#power h1 {
    font-size: 80px;
    margin: 0;
}

#power h4 {
    text-transform: uppercase;
    font-size: 1.5em;
    margin: 0;
    font-weight: 400;
    padding-left: 100px;
    margin-bottom: 100px;
}

#power h4 span {
    font-weight: 900;
}

#power p {
    width: 93%;
    font-size: 1.3em;
    line-height: 2em;
}

#power h2 {
    font-size: 3em;
    display: inline-block;
}

#power button {
    vertical-align: middle;
    position: relative;
    top: 12px;
    margin-left: 50px;
}

#free {
    background-color: #575757;
    color: white;
    text-align: center;
    padding: 30px 0;
}

#free div > * {
    display: inline-block;
    vertical-align: middle;
    margin: 0;
}

#free h1 {
    font-size: 40px;
    margin-left: 40px;
}

#free h1 span {
    font-weight: bold;
}

#free a {
    font-size: 40px;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    padding-bottom: 10px;
    border-bottom: 1px solid white;
    margin-top: 50px;
    display: inline-block;
}

#red .left {
    width: 50%;
    display: inline-block;
    height: 800px;
    background-image: url("img/beats-girl.png");
    background-repeat: no-repeat;
    background-size: cover;
    vertical-align: top;
}

#red .right {
    background-color: #DADADA;
    width: 50%;
    display: inline-block;
    padding: 40px 0;
    height: 720px;
}

.beats {
    width: 40%;
    display: inline-block;
    vertical-align: top;
    background-image: url("img/beats-red.png");
    height: 600px;
    background-size: contain;
    background-repeat: no-repeat;
}

.life {
    width: 50%;
    padding-left: 9%;
    display: inline-block;
}

.life h1 {
    font-size: 150px;
    font-weight: 900;
    margin: 0;
}

.life h3 {
    font-weight: 100;
    font-size: 60px;
    letter-spacing: -5px;
    margin: 0;
}

.life h3 span {
    font-weight: 900;
    text-transform: uppercase;
    color: red;
}

footer p {
    text-align: center;
    font-size: 36px;
    color: #555555;
    padding: 10px 0;
}