@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');

body{
    margin: 0;
    padding: 0;
    font: 16px 'Open Sans', sans-serif;
}


nav{
    background: #565656;
    color: white;
}

li{
    list-style-type: none;
}

.nav-primary{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin:0;
    padding: 1rem;
}

.nav-item > a{
    margin-right: 3rem;
    text-decoration: none;
    color: white;
}

.solo{
    background: url('img/section-img.jpg') no-repeat center center;
    background-size:cover;
    height: 15rem;
    padding: 2rem;
}

.solo-cta{
    border: 3px solid #333;
    font-weight: 700;
    background: none;
    border-radius: 20px;
    padding: .7rem 3rem;
    text-transform: uppercase;
    margin-top: 5rem;
}

.second-row{
    display: flex;
    flex-direction: row;
}

.mixr-left,
.urbeats-right{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 4rem;
    color: white;
}

.mixr-left{
    background: url('img/mixr-beats.png') no-repeat center center;
}

.urbeats-right{
    background: url('img/urbeats-beats.png') no-repeat center center;
}

.sr-cta{
    border: 3px solid white;
    background: none;
    border-radius: 20px;
    padding: .7rem 3rem;
    text-transform: uppercase;
    margin-top: .5rem;
    color: white;
    font-weight: 700;
}

.studio{
    background: url('img/studio-beats.png') no-repeat center center;
    background-size: cover;
    color: white;
    height: 15rem;
    padding: 5rem;
}

.studio-title{
    margin: 0;
}

.studio-description{
    margin-top: 3rem;
}

.studio-cta{
    border: 3px solid white;
    background: none;
    border-radius: 20px;
    padding: .7rem 3rem;
    text-transform: uppercase;
    margin-top: 4rem;
    color: white;
    font-weight: 700;
}

.product-img{
    width: 100%;
    max-width: 24rem;
}
