<h1>Register User</h1>
<form #registerForm='ngForm' (submit)='register()'>
  <div class="form-group">
    <label for='name'>Name</label>
    <input 
      type="text" 
      class="form-control" 
      id="name"
      name='name'
      [(ngModel)]='user.name'
      #name='ngModel' 
      required />
    <span [hidden]='name.valid || name.pristine'>
      Name is required!
    </span>
  </div>

  <div class="form-group">
    <label for='email'>Email</label>
    <input 
      type="text" 
      class="form-control" 
      id="email" 
      name='email'
      [(ngModel)]='user.email'
      #email='ngModel'
      required />

    <span [hidden]='email.valid || email.pristine'>
      E-mail is required!
    </span>
  </div>

  <div class="form-group">
    <label for='password'>Password</label>
    <input 
      type="password" 
      class="form-control" 
      id="password"
      name='password'
      [(ngModel)]='user.password'
      #password='ngModel' 
      required />
    <span [hidden]='password.valid || password.pristine'>
      Password is required!
    </span>
  </div>

  <div class="form-group">
    <label for='confirmPassword'>Confirm Password</label>
    <input 
      type="password" 
      class="form-control" 
      id="confirmPassword" 
      name='confirmPassword'
      [(ngModel)]='user.confirmPassword'
      #confirmPassword='ngModel'
      required />

    <span [hidden]='confirmPassword.value === password.value || confirmPassword.pristine'>
      Passwords do not match.
    </span>
  </div>

  <button 
    type="submit" 
    class="btn btn-success"
    [disabled]='!registerForm.form.valid || confirmPassword.value !== password.value'>
  Submit
  </button>
</form>
