<div class="col-md-6 col-md-offset-3">
<div class="panel panel-default">
  <div class="panel-heading text-center">
    <h4>Add New Article</h4>
  </div>
    <div class="panel-body">
  
      
      <form #addArticleForm="ngForm" (submit)="addArticle()">
        <div class="form-group">
          <label for="name">Title</label>
          <input
            type="text"
            class="form-control"
            id="name"
            name="name"
            [(ngModel)]="article.name"
            #name="ngModel"
            required/>
            <span [hidden]="name.valid || name.pristine">
            Title is required!
            </span>
        </div>
        
        <div class="form-group">
          <label for="year">Year</label>
          <input
            type="number"
            min="1950"
            max="2050"
            class="form-control"
            id="year"
            name="year"
            [(ngModel)]="article.year"
            #year="ngModel"
            required/>
            <span [hidden]="year.valid || year.pristine">
            Year is required!
          </span>
        </div>
        
        <div class="form-group">
          <label for="image">Image Url</label>
          <input
            type="url"
            class="form-control"
            id="image"
            name="image"
            [(ngModel)]="article.image"
            #image="ngModel"
            required/>
            <span [hidden]="image.valid || image.pristine">
            Image is required!
            </span>
        </div>
        
        <div class="form-group">
          <label for="details" class="col-lg-2 control-label">Details</label>
          
          <textarea
            class="form-control"
            rows="3"
            id="details"
            name="details"
            [(ngModel)]="article.details"
            #text="ngModel"
            required="required"
          >
          </textarea>
          
          <span [hidden]="text.valid || text.pristine">
            Desctiption is required!
          </span>
          
        </div>
        <button
          type="submit"
          class="btn btn-success"
          [disabled]="!addArticleForm.form.valid">
          Submit
        </button>
      </form>
    </div>
  </div>
</div>