<h2>Delete Answer</h2>
<p>posted by: {{answer.author.username}} on thread: {{answer.thread.title}}</p>
<form method="post">
  <textarea name="content" rows="10" disabled>{{answer.content}}</textarea>
  <input type="submit" value="Delete answer" />
</form>