@media screen and (max-width: 740px) {
    #wrapper {
        padding: 20px 15px;
    }

    h1 {
        font-size: 4.5em;
    }

    h3 {
        font-size: 2.2em;
    }

    h1, h2, h3, small {
        text-align: center;
    }

    #photo {
        float: none;
        width: 100%;
        text-align: center;
    }

    p {
        padding: 0;
    }

    #info {
        float: none;
    }
}

@media screen and (max-width: 570px) {
    ul li {
        display: inline-block;
        width: 100px;
    }

    #skills-right ul li:nth-of-type(2) {
        width: 140px;
    }
}

@media screen and (max-width: 480px) {
    ul li {
        padding-left: 16px;
        background: url(img/bullet.png) -3px 5px no-repeat;
    }
}