<form action="/users/register" method="POST">
  Username
  <input type="text" name="username" />
  <br />
  Password
  <input type="password" name="password" />
  <br />
  First Name
  <input type="text" name="firstName" />
  <br />
  Last Name
  <input type="text" name="lastName" />
  <br />
  <input type="submit" value="Register" />
</form>