#menu {
    background: #DDD;
    text-align: center;
    padding: 5px;
    line-height: 1.5;
    border-radius: 3px;
    overflow: auto;
}

#menu > #loggedInUser {
    float: right;
    margin-right: 10px;
}

#menu a {
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 5px;
}

#menu a:hover {
    background: #BBB;
}

main > section {
    display: none;
    padding: 20px 5px;
}

section h1 {
    margin: 10px 0px;
    font-size: 1.2em;
}

table th {
    background: #DDD;
    padding: 10px;
}

table td {
    padding: 5px 10px;
    background: #EEE;
}

#infoBox, #errorBox, #loadingBox {
    width: 80%;
    margin: 10px auto;
    color: white;
    text-align: center;
    padding: 5px;
    border-radius: 3px;
}

#loadingBox {
    background: #7CB3E9;
}

#infoBox {
    background: #393;
}

#errorBox {
    background: #F50;
}

footer {
    background: #DDD;
    padding: 5px 10px;
    font-size: 0.8em;
    text-align: center;
    border-radius: 3px;
}