@import '~toastr/build/toastr.css';

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.authorInfo {
  text-align: center;
}
.authorInfo > img {
  width: 100px;
  border-radius: 50%;
}

.authorInfo h2 {
  display: inline-block;
  vertical-align: top;
  margin: 40px 0 0 70px;
}

.author {
  width: 31%;
  display: inline-block;
  background-color: #dddddd;
  margin: 1%;
}

.author h3 {
  display: inline-block;
  color: brown;
  vertical-align: top;
  margin-top: 45px;
}

.author img {
  width: 100px;
  margin-right: 30px;
  border-radius: 50%;
}

.authorDetails h3 {
  text-align: center;
}

.book {
  display: inline-block;
  width: 30%;
  vertical-align: top;
  margin: 1%
}

.book a {
  color: grey;
  text-decoration: none;
}

.book img {
  width: 100px;
  float: left;
  margin: 0 20px 20px 0;
}

.book h3 {
  height: 40px;
}

.book p {
  text-align: justify;
}

.book-info img {
  float: left;
  width: 200px;
  margin-right: 40px;
}

.book-info h2 {
  margin-top: 0;
  padding-top: 20px;
}

.menu a {
  margin: 10px;
  display: inline-block;
}