<h1>New tweet</h1>

<form method="post">
  <label for="message">Message:</label>
  <textarea required maxlength="140" name="message" rows="10"></textarea>
  <input type="submit" value="Tweet now">
</form>