<h1>Delete tweet</h1>

<form method="post">
  <label for="message">Message:</label>
  <textarea disabled maxlength="140" name="message" rows="10">{{tweet.message}}</textarea>
  <input type="submit" value="Delete">
</form>