<h1>Edit tweet</h1>

<form method="post">
  <label for="message">Message:</label>
  <textarea required maxlength="140" name="message" rows="10">{{tweet.message}}</textarea>
  <input type="submit" value="Edit">
</form>