@import url('http://fonts.googleapis.com/css?family=Open+Sans');

body {
    font-family: 'Open Sans', sans-serif;
    background: #1d211e;
    font-size: 22px;
    line-height: 22px;
    color: #ffffff;
    text-align: center;
}

a {
    color: #ffffff;
}

nav {
    margin: 50px 0;
    background-color: #e67c1f;
}

nav ul {
    padding: 0;
    margin: 0;
    list-style: none;
    position: relative;
}

nav ul li {
    display: inline-block;
    background-color: #e67c1f;
}

nav a {
    display: block;
    padding: 0 10px;
    color: #fff;
    font-size: 20px;
    line-height: 60px;
    text-decoration: none;
}

nav a:hover {
    background-color: #000000;
}

nav ul ul {
    display: none;
    position: absolute;
}

nav ul li:hover > ul {
    display: inline-block;
}

nav ul ul li {
    width: 170px;
    position: relative;
    display: block;
}

nav ul ul ul li {
    position: relative;
    top: -60px;
    left: 85px;
}

li > a::after {
    content: ' +';
}

li > a:only-child:after {
    content: '';
}