@import url('https://fonts.googleapis.com/css?family=Montserrat');

@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');

body {
    font-family: Monteserrat, sans-serif;
    font-size: 12px;
    margin: 0;
    padding: 0;
}

body > header {
    height: 735px;
    background: url("images/Layer-759_02.jpg") no-repeat;
    background-size: cover;
    padding-top: 20px;
}

nav, ul {
    height: 60px;
    list-style: none;
}

nav {
    background: rgba(199, 157, 99, .75);
    width: 1100px;
    margin: 0 auto;
}

nav ul.nav-primary {
    background: rgba(199, 157, 99, .75);
    display: flex;
    justify-content: center;
}

.nav-item {
    line-height: 60px;
    display: inline-block;
    margin: 0 89px 0 auto;
}

.nav-item a {
    color: #ffffff;
    font-weight: 900;
    text-decoration: none;
    font-size: 14px;
}

.home.nav-item {
    margin-left: 30px;
}

.home.nav-item a {
    color: #ffffff;
    opacity: 0.7;
}

.consulting-rev {
    width: 500px;
    margin: 0 auto;
}

.consulting-rev h1 {
    color: #ffffff;
    font-size: 60px;
    text-align: center;
    margin-top: 100px;
    margin-bottom: 50px;
    text-transform: uppercase;
}

.consulting-rev p {
    color: #ffffff;
    font-size: 24px;
    text-align: center;
}

.consulting-rev a {
    margin: 20px auto;
    display: block;
    width: 120px;
    height: 25px;
    background: #090821;
    padding: 10px;
    line-height: 25px;
    text-align: center;
    border-radius: 5px;
    color: white;
    font-weight: 900;
    text-decoration: none;
    text-transform: uppercase;
}

.consulting-rev i {
    color: #c79d63;
}

.consulting-rev a:hover,
.consulting-rev a:hover .fa-chevron-right {
    background: #c79d63;
    color: #090821;
    cursor: pointer;
}

section {
    text-align: center;
    margin-top: 50px;
}

h2 {
    text-align: center;
}

article {
    width: 25%;
    display: inline-block;
    margin-left: 18px;
}

main > header h2 {
    text-align: center;
    font-size: 50px;
    margin-top: 40px;
}

.icon {
    display: inline-block;
    vertical-align: top;
    font-size: 30px;
    width: 50px;
    height: 50px;
    line-height: 50px;
    background: #090821;
    color: white;
    border-radius: 50%;
    margin-right: 7px;
}

main p {
    font-size: 16px;
    margin: 10px 0 0;
    text-transform: none;
    color: black;
}

main p, h2 {
    text-align: left;
}

h5 {
    text-align: center;
    font-size: 24px;
    width: 520px;
    margin: 0 auto;
}

.banner span {
    color: #c79d63;
}

.banner {
    margin-bottom: 0;
    padding-top: 35px;
    padding-bottom: 46px;
    margin-top: 40px;
    display: block;
    position: relative;
}

.banner::after {
    content: "";
    background-size: cover;
    opacity: 0.3;
    background: url("images/steel-bg.jpg") center center;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
}

.traders {
    margin: 0;
    padding-top: 35px;
    padding-bottom: 46px;
    background: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0, 0.6)),
        url('images/background-choose-us.jpg') no-repeat center;
    background-size: cover;
}

.traders h2 {
    text-align: center;
    font-size: 40px;
    color: white;
    margin-bottom: 20px;
}

.article-container {
    display: flex;
    justify-content: center;
}

.article-container a {
    margin-right: 30px;
    padding: 20px;
    width: 300px;
    border: 2px solid #c79d63;
    text-align: center;
    text-decoration: none;
}

.article-container a:hover,
.article-container a:hover p,
.article-container a:hover h4 {
    background: #fff;
    color: #090821;
}

.article-container h4 {
    color: #fff;
    margin: 0 0 17px 17px;
    padding-top: 21px;
    letter-spacing: 0;
    font-size: 20px;
}

.article-container p {
    margin: 0 0 17px 17px;
    font-size: 13px;
    line-height: 18px;
    color: white;
}

.consulting-woman {
    background-image: url("images/consulting-woman.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 600px;
    margin: 0;
    position: relative;
}

.testimonial-info {
    position: absolute;
    top: 70px;
    right: 40px;
    width: 500px;
    padding: 64px 60px 53px;
    background: rgba(255, 255, 255, .7);
}

.testimonial-info > p::before,
.testimonial-info > p::after {
    content: open-quote;
    color: #c79d63;
    font-size: 32px;
}

.testimonial-info > p::after {
    content: close-quote;
}

.testimonial-info footer {
    margin-top: 20px;
    text-align: left;
}

.testimonial-info footer h4 {
    font-size: 24px;
}

.testimonial-info footer p {
    padding: 0;
    margin-bottom: 0;
    font-size: 14px;
    color: #777777;
}

footer {
    height: 280px;
    background: rgb(9, 8, 33);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    color: white;
}

.partners {
    height: 90px;
    margin-top: 45px;
}

.partners ul {
    display: flex;
    justify-content: center;
}

.partners img {
    width: 135px;
    height: 60px;
}

footer h2 {
    color: white;
    margin-left: 20px;
    padding-top: 10px;
}

.info li {
    color: white;
    width: 180px;
    margin-top: 20px;
    margin-left: 20px;
}

.socials {
    display: flex;
    justify-content: center;
    width: 153px;
}

.socials li {
    width: 200px;
}

.socials a {
    display: block;
    width: 32px;
    font-size: 18px;
    line-height: 32px;
    text-align: center;
    border-radius: 50%;
    background: rgb(131, 131, 143);
    color: #090821;
}

.extra-links ul {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    height: 148px;
    width: 200px;
}

.extra-links ul li {
    display: block;
    padding: 5px;
}

.extra-links ul li a {
    color: #c79d63;
    text-decoration: none;
}

.instagram-widget ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 300px;
}

.instagram-widget img {
    width: 100px;
    height: 100px;
}