doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible', content='ie=edge')
    title Cars
    link(rel='icon', type='image/x-icon', href='/content/images/favicon.ico')
    link(rel='stylesheet', type='text/css', href='/stylesheets/site.css')
  body
    header
      nav.nav
        ul
          li
            a(href='/') Home Page
          li
            a(href='/car/add') Add Car
          li
            a(href='/owner/add') Add Owner
  main
    block content
  footer
    p &copy;